*, *::after, *::before {box-sizing: border-box; margin: 0; padding: 0;}

body {
    font-family: 'Andika', sans-serif;
    /* font-family: 'Caramel', cursive; */
    /* font-family: 'Hedvig Letters Serif', serif; */
    /* font-family: 'Nova Square', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Pacifico', cursive;
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Saira Extra Condensed', sans-serif; */
    color: antiquewhite;
    background-color: rgb(22, 26, 48);
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteiner {
    /* border: 1px solid red; */
    background-color: rgb(22, 26, 48);
    border-radius: 10px;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px 2px rgba(49, 196, 196, 0.514)
}

.number {
    /* border: 1px solid blue; */
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: absolute;
    box-shadow: 0px 0px 30px 0px rgba(124, 40, 40, 0.5)
    /* display: flex; */
    /* justify-content: center;
    gap: 10px; */
}

.clock {
    /* border: 2px solid black; */
    border-radius: 50%;
    position: relative;
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 0px rgba(5, 1, 1, 0.5)
}

#circle {
    /* border: 1px solid red; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    transform: rotate(-90deg);
    box-shadow: 0px 0px 30px 0px rgba(5, 1, 1, 0.5)
    /* margin-left: 125px;
    margin-top: 125px; */
}

#seconds {
    /* border: 1px solid black; */
    border-radius: 20px;
    /* background-color: blue; */
    width: 175px;
    height: 5px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 47.5px;
    margin-left: 47.5px;
    transform-origin: center left;
    /* transform: rotate(45deg);
    transition: transform 1s ease; */
}

.secitem0 {
    background-color: red;
    border-radius: 20px;
    width: 115px;
    height: 2px;
    box-shadow: 0px 0px 30px 5px rgba(5, 1, 1, 0.911)
}

.secitem1 {
    background-color: red;
    border-radius: 20px;
    width: 5px;
    height: 5px;
}

#minutes {
    /* border: 1px solid black; */
    border-radius: 20px;
    /* background-color: yellow; */
    width: 115px;
    height: 5px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 47.5px;
    margin-left: 47.5px;
    /* margin-top: 150px; */
    transform-origin: center left;
    /* transform: rotate(45deg); */
}

.minitem0 {
    background-color: rgb(199, 199, 199);
    border-radius: 20px;
    width: 80px;
    height: 3px;
    box-shadow: 0px 0px 20px 5px rgba(5, 1, 1, 0.822)
}

.minitem1 {
    background-color: rgb(199, 199, 199);
    border-radius: 20px;
    width: 5px;
    height: 5px;
    
}

#hours {
    /* border: 1px solid black; */
    border-radius: 20px;
    /* background-color: green; */
    width: 115px;
    height: 5px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 47.5px;
    margin-left: 47.5px;
    /* margin-top: 150px; */
    transform-origin: center left;
    /* transform: rotate(45deg); */
}

.hoitem0 {
    background-color: green;
    border-radius: 20px;
    width: 60px;
    height: 7px;
    box-shadow: 0px 0px 20px 5px rgba(5, 1, 1, 0.911)
}

.hoitem1 {
    background-color: green;
    border-radius: 20px;
    width: 5px;
    height: 5px;
}

.smallcircle {
    background-color: rgb(153, 149, 149);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 39px;
    margin-left: 39px;
    box-shadow: 0px 0px 30px 15px rgba(211, 201, 201, 0.2)
}

.numb {
    position: absolute;
    /* border: 1px solid red; */
    font-size: 50px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 5px 0px rgba(0, 0, 0, 0.733)
}

.small {
    font-size: 30px;
    width: 30px;
    height: 30px;
}

/* .jj {
    width: 350px;
    height: 1px;
    position: absolute;
    background-color: yellow;
    margin-top: 175px;
    transform: rotate(240deg);

} */

.numb0 {
    margin-left: 140px;
    /* align-items: start; */
}

.numb1 {
    margin-top: 25px;
    margin-left: 235px;
}

.numb2 {
    margin-top: 85px;
    margin-left: 295px;
}

.numb3 {
    margin-top: 140px;
    margin-left: 280px;
}

.numb4 {
    margin-top: 235px;
    margin-left: 295px;
}

.numb5 {
    margin-top: 295px;
    margin-left: 235px;
}

.numb6 {
    margin-left: 140px;
    margin-top: 280px;
}

.numb7 {
    margin-left: 90px;
    margin-top: 295px;
    justify-content: start;
    align-items: end;
}

.numb8 {
    margin-left: 25px;
    margin-top: 235px;
}

.numb9 {
    margin-top: 140px;
}

.numb10 {
    margin-top: 85px;
    margin-left: 25px;
}

.numb11 {
    margin-top: 25px;
    margin-left: 85px;
}